<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <style>

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="sell.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="main_box">
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <img class="logo " src="inventory2.png" alt="" >
          <a class="navbar-brand" href="/">
            <span class="navbar-brand mb-0 h1">Inventory Management</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Features
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/newProduct">Add Product</a></li>
                  <li><a class="dropdown-item" href="/sell">Sell Product</a></li>
                  <li><a class="dropdown-item" href="/showproducts">Show ALL Products</a></li>
                </ul>
              </li>
            </ul>
            
          </div>
          <div class="user">
            <img class="logo second" src="profile.png" alt="">
    
          </div>
         
        </div>
      </nav>

        <div class="table">
            <table class="table table-success table-striped table caption-top">
                <caption>
                    <h1>Sell Stock</h1>
                </caption>
                <tr>
                    <th>serial no</th>
                    <th>Product</th>
                    <th>Stock</th>
                    <th>Cost Price</th>
                    <th>Sold Price</th>
                    <th>Action</th>
                </tr>
                <% count=0 %>
                    <% for(entry of result){ %>
                        <tr>
                            <td>
                                <%= ++count %>
                            </td>
                            <td>
                                <%= entry.product %>
                            </td>
                            <td>
                                <%= entry.stock %>
                            </td>
                            <td>
                                <%= entry.cost_price %>
                            </td>
                            <td>
                                <%= entry.sold_price %>
                            </td>
                            <td>
                                <br>
                                <form 
                                method="post" action="/<%=entry.id%>?_method=patch">
                                    <label for="input">
                                        Enter Quantity to sell
                                    </label>
                                    <input class="input" type="number"
                                    name="quantity">
                                    <button class="btn btn-danger">Sell </button>
                                </form>
                            </td>
                        </tr>
                        <%}%>


            </table>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>